.wrapper {
  background-color: var(--primary-color);
  height: 100%;
  z-index: 4;
  position: relative;
}

.inner {
  padding-top: 2%;
  z-index: 4;
  color: var(--secondary-color);
  text-align: center;
}
.headline {
  margin-bottom: 1em;
}
