.wrapper {
  height: 100%;
  z-index: 4;
  position: relative;
}
.wrapper::before {
  transform: skewY(-10deg);
  transform-origin: center;
  position: absolute;
  top: -20%;
  z-index: -1;
  content: '';
  width: 100%;
  height: 90%;
  background-color: var(--primary-color);
}

.inner {
  text-align: center;
  z-index: 4;
  color: var(--secondary-color);
}
.headline {
  margin-bottom: 1em;
}

.wrapperContactInfo {
  background-color: var(--primary-color);
  height: 100%;
  z-index: 4;
  text-align: center;
  padding-top: 4em;
  padding-bottom: 9em;
}
.button {
  background: var(--tertiary-color);
  color: white;
  border-radius: 1.5em;
  padding: 0.75em;
  font-size: 0.7em;
}
.button:hover {
  background: var(--quinary-color);
  color: white;
}
@media screen and (max-width: 1200px) {
  .inner {
    margin-left: 0%;
    text-align: center;
  }
  .wrapperContactInfo {
    margin-left: 0%;
  }
}
@media screen and (min-width: 2200px) {
  .wrapper:before {
    top: -38%;
  }
}
