a {
  color: var(--senary-color);
}
.header {
  background-color: var(--primary-color);
  position: fixed;
  right: 0px;
  left: 0px;
  top: 0px;
  z-index: 200;
  padding-left: 10%;
  padding-right: 6%;
  padding-top: 2%;
  padding-bottom: 1%;
  display: flex;
  align-items: center;
}

.textHeader {
  align-items: center;
  display: flex;
  width: 100%;
}
.logo {
  height: 4em;
  fill: var(--senary-color);
  display: flex;
}
.logoHeadline {
  font-size: 2.25rem;
  font-weight: 400;
  line-height: 1.25;
  white-space: nowrap;
  padding-left: 0.5em;
}
.logoHeader:hover {
  text-decoration: none;
}
.sideLinks,
.responsiveSideLinks {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: flex-end;
}

.linksHeader {
  display: block;
  font-size: 0.6em;
  white-space: nowrap;
  padding: 0.55em;
  padding-left: 1em;
}

.button {
  background: var(--tertiary-color);
  color: white;
  border-radius: 1.5em;
  padding: 0.55em;
  font-size: 0.6em;
  font-weight: 200;
  margin-left: 1em;
}
.button:hover {
  background: var(--quinary-color);
  color: white;
}

/* Header burgermenu dropdown*/
.burgerIcon {
  line-height: 0;
  background: transparent;
  display: none;
  color: var(--senary-color);
  padding: 0.5rem;
  font-size: 2em;
  margin-right: 0.8rem;
  border: 3px solid var(--senary-color);
  border-radius: 50%;
}
@media screen and (max-width: 600px) {
  .linksHeader {
    display: none;
  }
  .linksHeader + .linksHeader {
    margin-left: 74%;
  }
  .burgerIcon {
    float: right;
    display: block;
  }
  .burgerIcon {
    position: absolute;
    right: 10px;
    top: 10px;
  }
  .responsiveSideLinks {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 15px;
    top: 69px;
  }
  .responsiveSideLinks a {
    display: block;
    text-align: right;
    border: 3px solid var(--senary-color);
    border-radius: 15px;
    margin-left: 74%;
    padding-right: 10px;
    margin-bottom: 2px;
    background-color: var(--primary-color);
    color: var(--senary-color);
  }
  .responsiveSideLinks {
    display: block;
  }
  .logoHeadline {
    font-size: 1.8rem;
  }
}

/* LOGO */
:root {
  --offset: 48%;
  --duration: 0.5s;
}

.logo {
  animation: grow calc(2 * var(--duration)) forwards;
}
.logo path:first-of-type {
  transform: translateX(var(--offset));
  animation: left var(--duration) forwards;
  animation-delay: var(--duration);
}
.logo path:nth-of-type(2) {
  transform: translateX(calc(-1 * var(--offset)));
  animation: right var(--duration) forwards;
  animation-delay: var(--duration);
}

@keyframes left {
  0% {
    transform: translateX(var(--offset));
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes right {
  0% {
    transform: translateX(calc(-1 * var(--offset)));
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes grow {
  0% {
    clip-path: inset(50% var(--offset) 50% var(--offset));
  }
  50% {
    clip-path: inset(0 var(--offset) 0 var(--offset));
  }
  100% {
    clip-path: inset(0 0 0 0);
  }
}
