@import "./mixins.scss";

:root {
  --primary-color: #17252a;
  --secondary-color: #feffff;
  --tertiary-color: #2b7a78;
  --quaternary-color: #def2f1;
  --quinary-color: #3aafa9;
  --senary-color: #3aafa9;
  --grey-color: #f7f8fb;
  --light-grey-color: lightgrey;
  --dark-grey-color: #e8eaef;
  --white-color: white;
  --gold-color: #ffcb9a;
  --flex-test: row;
}

@media screen and (max-width: 800px) {
  :root {
    --flex-test: column;
  }
}
html {
  box-sizing: border-box;
}
*,
* :before,
*:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1.5;
  color: var(--secondary-color);
  font-weight: 200;
  @include interpolate(font-size, 320px, 1366px, 14px, 20px);
  background-color: var(--primary-color);
}
h1 {
  line-height: 1.25;
  margin-bottom: 0.625rem;
  margin-top: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1.5rem 0 0.625rem;
  font-weight: 300;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
li {
  margin: 1rem 0;
  font-weight: 300;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: auto;
}

input,
textarea {
  font-family: inherit;
  font-size: inherit;
}
