@import './mixins.scss';

:root {
  --primary-color: #17252a;
  --secondary-color: #feffff;
  --tertiary-color: #2b7a78;
  --quaternary-color: #def2f1;
  --quinary-color: #3aafa9;
  --senary-color: #3aafa9;
  --grey-color: #f7f8fb;
  --light-grey-color: lightgrey;
  --dark-grey-color: #e8eaef;
  --white-color: white;
  --gold-color: #ffcb9a;
  --flex-test: row;
}

:root {
  --display-big: block;
  --grid-template-columns-big: 40% 60%;
  --flex-equal-width: 25%;
  --headline-padding: 200px;
  --pitch-padding-top: 50%;
  --headline-wrapper-bottom: -17vh;
  --mission-bottom-margin: 0 0 1em 0;
  --what-we-step-headline-padding: 0rem;
  --what-we-do-headline-padding: 50px;
  --what-we-do-wrapper-paddint: 5%;
  --picture-transformSkew: perspective(60em) rotateY(40deg) rotateX(40deg);
  --cases-text-margin: 2em 2em auto auto;
  --break-typed: none;
}
@media screen and (max-width: 800px) {
  :root {
    --flex-test: column;
    --display-big: none;
    --grid-template-columns-big: 100%;
    --flex-equal-width: 100%;
    --headline-padding: 130px;
    --pitch-padding-top: 25%;
    --headline-wrapper-bottom: -5vh;
    --mission-bottom-margin: 0 0 3em 0;
    --what-we-step-headline-padding: 0.5rem;
    --what-we-do-headline-padding: 10px;
    --what-we-do-wrapper-paddint: 0%;
    --cases-text-margin: 2em auto auto auto;
    --break-typed: static;
  }
}
$min-width: 14px;
$max-width: 18px;
$min-value: 320px;
$max-value: 1280px;

html {
  box-sizing: border-box;
  @include fluid-type(
    font-size,
    $min-value,
    $max-value,
    $min-width,
    $max-width
  );
}
*,
* :before,
*:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  color: var(--secondary-color);
  font-weight: 200;
  background-color: rgba(0, 0, 0, 0.07);
  @include fluid-type(font-size, 25rem, 64rem, 1rem, 1.2rem);
}
h1 {
  @include fluid-type(font-size, 25rem, 64rem, 1.383rem, 2.488rem);
}
h2 {
  @include fluid-type(font-size, 25rem, 64rem, 1.262rem, 2.074rem);
}
h3 {
  @include fluid-type(font-size, 25rem, 64rem, 1.191rem, 1.728rem);
}
h4 {
  @include fluid-type(font-size, 25rem, 64rem, 1.124rem, 1.44rem);
}
h5 {
  @include fluid-type(font-size, 25rem, 64rem, 1.06rem, 1.2rem);
}
h6 {
  font-size: 1em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1.5rem 0 0.625rem;
  font-weight: 300;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
li {
  margin: 1rem 0;
  font-weight: 300;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: auto;
}

input,
textarea {
  font-family: inherit;
  font-size: inherit;
}
