.wrapper {
  position: fixed;
  bottom: 0px;
  padding: 30px;
  background-color: var(--tertiary-color);
  display: flex;
  z-index: 1000;
  justify-content: center;
  width: 100%;
}
.wrapper p {
  color: var(--gold-color);
  margin: 0;
}
.acceptButton {
  margin-left: 2%;
  border: 3px solid var(--gold-color);
  border-radius: 1.5em;
  padding: 0.5em;
  background-color: var(--primary-color);
  font-size: 0.8em;
  color: white;
  height: 50%;
  align-self: center;
  cursor: pointer;
}
@media screen and (max-width: 600px) {
  .wrapper {
    margin: 0px;
    width: 100%;
  }
}
